*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg-img.png);
    height: 100vh;
    background-size: cover;
    background-position: center;   
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border: 2px solid transparent;
    transition: 0.5s;
}
ul li a:hover{
    background-color: black;
    color: white;
}
ul li.home a{
    background-color: black;
    color: white;
}
.logo img{
    float: left;
    width: 200px;
    height: auto;
    margin-top:10px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
}
.title h1{
    color:white;
    font-size: 55px;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,50%);
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color:white;
    text-decoration: none;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(8, 8, 8);
    color: white;
}
.npart{
    width: 600px;
    height:530px;
    color: #ffff;
    top: 53%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
 }
 .student1{
     position: absolute;
     left:36%;
     top:14%;
     color: black;
 }
 .ppart{
    width: 710px;
    height:700px;
    background: #dde1e7;
    color: #ffff;
    top: 50%;
    left:75%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
 }
.eval{
    color: white;
    position: absolute;
    left:30%;
    top:80%;
    text-decoration-line: none;
    border-radius: 10px;
    width: 8%;
    height: 6%;
    background: rgb(10, 10, 10);

}
.studentname{
    position: absolute;
    left:29%;
    top:22%;
    color: black;
}
.input{
    position: absolute;
    left:42%;
    top:23.5%;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
    height:3%;
    width:15%;
}
.list{
    position: absolute;
    left:29%;
    top:28%;
    color: black;
}
.subtitle{
    position: absolute;
    left:30%;
    top:35%;
    color: black;
}
.grade{
    position: absolute;
    left:47%;
    top:35%;
    color: black;
}
.remarks{
    position: absolute;
    left:62%;
    top:35%;
    color: black;
}
.math{
    position: absolute;
    left:30%;
    top:41%;
    color: black;
}
.science{
    position: absolute;
    left:30%;
    top:48%;
    color: black;
}
.english{
    position: absolute;
    left:30%;
    top:55%;
    color: black;
}
.filipino{
    position: absolute;
    left:30%;
    top:62%;
    color: black;
}
.pe{
    position: absolute;
    left:30%;
    top:69%;
    color: black;
}
.studentrank{
    position: absolute;
    left:30%;
    top:75%;
    color: black;
}
.rankhere{
    position: absolute;
    left:55%;
    top:75%;
    color: black;
}
#rank{
    position: absolute;
    left:43%;
    top:76%;
    color: red;
}
#mathinput{
    position: absolute;
    left:41%;
    top:41%;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
    width:15%;
    height:3%;
}
#scienceinput{
    position: absolute;
    left:41%;
    top:48%;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
    width:15%;
    height:3%;
}
#englishinput{
    position: absolute;
    left:41%;
    top:55%;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
    width:15%;
    height:3%;
}
#filipinoinput{
    position: absolute;
    left:41%;
    top:62%;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
    width:15%;
    height:3%;
}
#peinput{
    position: absolute;
    left:41%;
    top:68%;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121 288);
    width:15%;
    height:3%;
}
#matheval{
    position: absolute;
    left:60.5%;
    top:40%;
    color: darkblue;
}
#scienceeval{
    position: absolute;
    left:60.5%;
    top:47.5%;
    color: darkblue;
}
#englisheval{
    position: absolute;
    left:60.5%;
    top:54%;
    color: darkblue;
}
#filipinoeval{
    position: absolute;
    left:60.5%;
    top:61.5%;
    color: darkblue;
}
#peeval{
    position: absolute;
    left:60.5%;
    top:67.5%;
    color: darkblue;
}